.Content {
  background-color: #2a3038;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-app-region: drag;
}

.App-logo {
  height: 15em;
}

.column {
  float: left;
}

.black-text {
  color: black;
}

.h6 {
  color: #a1a1a1;
  text-align: center;
  margin-top: -2em;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
